@mixin respond($breakpoint) {
  @if $breakpoint == 'md' {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (max-width: 640px) {
      @content;
    }
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
